Export Flows to Github.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","required":[],"properties":{}}}}},"actions":{"List_Flows_as_Admin":{"runAfter":{"Initialize_GithubRepo":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFlowsInEnvironment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['flowmanagement']['connectionId']"}},"method":"get","path":"/scopes/admin/environments/@{encodeURIComponent('Default-fe5afee1-d6bb-46af-8edd-82dc648d9e79')}/flows","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Get_Flow":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFlow"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['flowmanagement']['connectionId']"}},"method":"get","path":"/environments/@{encodeURIComponent('Default-fe5afee1-d6bb-46af-8edd-82dc648d9e79')}/flows/@{encodeURIComponent(items('Apply_to_each')?['name'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_File":{"runAfter":{"Get_Base64_content":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://api.github.com/repos/@{variables('GithubUser')}/@{variables('GithubRepo')}/contents/@{outputs('Flow_file_name')}","authentication":{"type":"Basic","username":"@variables('GithubUsername')","password":"@variables('GithubPersonalToken')"}}},"Flow_file_name":{"runAfter":{"Get_Flow":["Succeeded"]},"type":"Compose","inputs":"Flow-@{body('Get_Flow')['properties']['displayName']}-@{body('Get_Flow')?['name']}.json"},"Parse_JSON":{"runAfter":{"Add_new_file":["Skipped"]},"type":"ParseJson","inputs":{"content":"@body('Get_File')","schema":{"type":"object","properties":{"name":{"type":"string"},"path":{"type":"string"},"sha":{"type":"string"},"size":{"type":"number"},"url":{"type":"string"},"html_url":{"type":"string"},"git_url":{"type":"string"},"download_url":{"type":"string"},"type":{"type":"string"},"content":{"type":"string"},"encoding":{"type":"string"},"_links":{"type":"object","properties":{"self":{"type":"string"},"git":{"type":"string"},"html":{"type":"string"}}}}}}},"Add_new_file":{"runAfter":{"Get_File":["Failed"]},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/@{variables('GithubUser')}/@{variables('GithubRepo')}/contents/@{outputs('Flow_file_name')}","body":{"message":"my commit message","content":"@{outputs('Get_Base64_content')}"},"authentication":{"type":"Basic","username":"@variables('GithubUsername')","password":"@variables('GithubPersonalToken')"}}},"Get_Base64_content":{"runAfter":{"Flow_file_name":["Succeeded"]},"type":"Compose","inputs":"@base64(body('Get_Flow'))"},"Update_file":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/@{variables('GithubUser')}/@{variables('GithubRepo')}/contents/@{outputs('Flow_file_name')}","headers":{"Content-type":"application/json"},"body":{"message":"my commit message","content":"@{outputs('Get_Base64_content')}","sha":"@{body('Parse_JSON')?['sha']}"},"authentication":{"type":"Basic","username":"@variables('GithubUsername')","password":"@variables('GithubPersonalToken')"}}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"},"Filter_array":{"runAfter":{"List_Flows_as_Admin":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_Flows_as_Admin')?['value']","where":"@greater(item()?['properties']?['lastModifiedTime'],startOfDay(utcNow()))"}},"Initialize_GithubUsername":{"runAfter":{"Initialize_GithubPersonalToken":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"GithubUsername","type":"String","value":"RandomNameThatsNotUsed"}]}},"Initialize_GithubPersonalToken":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"GithubPersonalToken","type":"String","value":"XXX"}]}},"Initialize_Githubuser":{"runAfter":{"Initialize_GithubUsername":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"GithubUser","type":"String","value":"XXX"}]}},"Initialize_GithubRepo":{"runAfter":{"Initialize_Githubuser":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"GithubRepo","type":"String","value":"XXX"}]}}},"outputs":{}},"parameters":{}}}]}