Export Flows to VSO.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","required":[],"properties":{}}}}},"actions":{"List_Flows_as_Admin":{"runAfter":{"Initialize_VSInstance":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFlowsInEnvironment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['flowmanagement']['connectionId']"}},"method":"get","path":"/scopes/admin/environments/@{encodeURIComponent('Default-fe5afee1-d6bb-46af-8edd-82dc648d9e79')}/flows","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Get_Flow":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFlow"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['flowmanagement']['connectionId']"}},"method":"get","path":"/environments/@{encodeURIComponent('Default-fe5afee1-d6bb-46af-8edd-82dc648d9e79')}/flows/@{encodeURIComponent(items('Apply_to_each')?['name'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Commit_ID":{"runAfter":{"Set_type_to_edit":["Succeeded","Skipped"]},"type":"Http","inputs":{"method":"GET","uri":"https://@{variables('VSInstance')}.visualstudio.com/DefaultCollection/@{variables('VSProject')}/_apis/git/repositories/@{variables('VSRepository')}/commits?$top=1","authentication":{"type":"Basic","username":"@variables('VSUsername')","password":"@variables('VSPersonalToken')"}}},"Parse_Commit_JSON":{"runAfter":{"Get_Commit_ID":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_Commit_ID')","schema":{"type":"object","properties":{"count":{"type":"number"},"value":{"type":"array","items":{"type":"object","properties":{"commitId":{"type":"string"},"author":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"date":{"type":"string"}}},"committer":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"date":{"type":"string"}}},"comment":{"type":"string"},"changeCounts":{"type":"object","properties":{"Add":{"type":"number"},"Edit":{"type":"number"},"Delete":{"type":"number"}}},"url":{"type":"string"},"remoteUrl":{"type":"string"}},"required":["commitId","author","committer","comment","changeCounts","url","remoteUrl"]}}}}}},"Apply_to_each_2":{"foreach":"@body('Parse_Commit_JSON')?['value']","actions":{"Create_or_update_file":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://@{variables('VSInstance')}.visualstudio.com/DefaultCollection/@{variables('VSProject')}/_apis/git/repositories/@{variables('VSProject')}/pushes?api-version=2.0-preview","headers":{"Content-type":"application/json"},"body":{"refUpdates":[{"name":"refs/heads/master","oldObjectId":"@{items('Apply_to_each_2')?['commitId']}"}],"commits":[{"comment":"Initial commit.","changes":[{"changeType":"@{variables('FileCreateType')}","item":{"path":"/@{outputs('Flow_file_name')}"},"newContent":{"content":"@{body('Get_Flow')}","contentType":"rawtext"}}]}]},"authentication":{"type":"Basic","username":"@variables('VSUsername')","password":"@variables('VSPersonalToken')"}}}},"runAfter":{"Parse_Commit_JSON":["Succeeded"]},"type":"Foreach"},"Get_File":{"runAfter":{"Flow_file_name":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://@{variables('VSInstance')}.visualstudio.com/DefaultCollection/@{variables('VSProject')}/_apis/git/repositories/@{variables('VSRepository')}/items?api-version=2.0-preview&scopePath=@{outputs('Flow_file_name')}","authentication":{"type":"Basic","username":"@variables('VSUsername')","password":"@variables('VSPersonalToken')"}}},"Set_type_to_add":{"runAfter":{"Get_File":["Failed"]},"type":"SetVariable","inputs":{"name":"FileCreateType","value":"add"}},"Set_type_to_edit":{"runAfter":{"Set_type_to_add":["Skipped"]},"type":"SetVariable","inputs":{"name":"FileCreateType","value":"edit"}},"Flow_file_name":{"runAfter":{"Get_Flow":["Succeeded"]},"type":"Compose","inputs":"Flow-@{body('Get_Flow')['properties']['displayName']}-@{body('Get_Flow')?['name']}.json"}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"},"Filter_array":{"runAfter":{"List_Flows_as_Admin":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_Flows_as_Admin')?['value']","where":"@greater(item()?['properties']?['lastModifiedTime'],startOfDay(utcNow()))"}},"Initialize_VSUsername":{"runAfter":{"Initialise_FileCreateType":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VSUsername","type":"String","value":"RandomNameThatsNotUsed"}]}},"Initialize_VSPersonalToken":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"VSPersonalToken","type":"String","value":"XXX"}]}},"Initialise_FileCreateType":{"runAfter":{"Initialize_VSPersonalToken":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FileCreateType","type":"String","value":"edit"}]}},"Initialize_VSProject":{"runAfter":{"Initialize_VSUsername":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VSProject","type":"String","value":"00000000-0000-0000-0000-000000000000"}]}},"Initialize_VSRepository":{"runAfter":{"Initialize_VSProject":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VSRepository","type":"String","value":"00000000-0000-0000-0000-000000000000"}]}},"Initialize_VSInstance":{"runAfter":{"Initialize_VSRepository":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VSInstance","type":"String","value":"XXX"}]}}},"outputs":{}},"parameters":{}}}]}